server:
  port: 8081
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          default-label: main
          uri: https://github.com/albertosanchez56/Gestor_Peliculas-Series.git
          search-paths: config-data
# Para usar config-data LOCAL (sin subir a GitHub): arranca con --spring.profiles.active=native